* {
	box-sizing: border-box;
}
body {
	background-image: url("../images/pw_maze_black.png");
}

.header {
	position: relative;
	font-size: 30pt;
	font-family: 'Righteous', cursive;
	text-align: center;
	padding: .5em;
	border: 10px solid #9A35B2;
	background-color: #ABFF30;
	margin-top: 30px;
	margin-bottom: 15px;
}

h1 {
	margin: 0;
	padding: 6px 0;
	border: 5px solid #9a35b2;
}

img {
	max-width: 100%;
}

.content {
	padding: 10px 40px 10px 40px;
	border: 10px solid #ABFF30;
	background-color: #471852;
	color: #ffffff;
	font-size: 18pt;
	font-family: 'Coustard', serif;
}

#guess {
	text-align: center;
	font-size: 20pt;
	margin-bottom: 15px;
	background-color: #ABFF30;
	color: #222222
}
#bottom {
	margin-bottom: 0;
}

.scoreboard {
	padding-left: 50px;
	margin: 10px 0;
}

@media only screen and (max-width: 635px) {
	#guess {
		font-size: 18pt;
	}
}

@media only screen and (max-width: 587px) {
	h1 {
		font-size: 22pt;
	}
	#guess {
		font-size: 22pt;
	}
}

@media only screen and (max-width: 580px) {
	h1 {
		font-size: 22pt;
	}
	#guess {
		font-size: 22pt;
	}
	.scoreText {
		font-size: 16pt;
	}
}